
.ColumnCard {
  max-width: 80%;
}

.ColumnPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 20%;
  padding-top: 20px;
}

.Card {
 
  border-radius: 15px;
  /* margin-left: 50%; */
  margin-top: 5rem;
  /* margin-left: 50%; */
  

  border-radius: 15px;
  box-shadow: 0px 2px 2px 0px #ccc;
  width: 40rem;
  margin-left: 15rem;
   border-top-width: 20px;
  border-top-color: #008dc8;
}

.CardTitle {

  font-size:  1rem;

  text-align: left;
}

a:hover {
  text-decoration: none;
}

.CardImage {
  width: 180px;
  height: 100px;
  width: 180px;
  padding: 20px;
  margin-left: 20px;
  padding: 20px;
  padding-bottom: 0px;
}

.Rectangle {
  width: 155px;
  height: 3px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.HeadingRow {
  flex-wrap: nowrap;
  align-items: center;
}

.Title {
  

  color: #008dc8;
  font-size: 20px;
  /* display: inline-block;
  word-break: break-word; */
  margin-top: 2rem;
  display: inline-block;
  overflow-wrap: break-word;

 
  word-wrap: break-word;
  word-break: normal;
  overflow-wrap: break-word;
  -webkit-hyphen: none;
  -moz-hyphen: none;


}

.Description {
  margin-top: 25px;
  margin-left: 35px;

  hyphens: none;
  line-break: auto;
}

.Description {
  margin-top: 15px;

  margin-right: 25px;
  margin-left: 35px;
}

.Heading {
  margin-top: 5px;
  margin-left: 0px;
}

.Value {
  margin-top: 5px;
  margin-left: 5px;
  color: black;
}


  .Button {
    background-color: #008dc8;
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    margin-top: 20px;
   
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  }
  .Button1 {
    background-color: #008dc8;
    border: none;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    margin-top: 20px;
   
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
    margin-left: 500px;
    margin-top: 50px;
  }

/* make outline none when button gets clicked */
.Button:focus {
  outline: none;
}

.BannerImage {
  height: 15rem;
  width: 7rem;
  margin-left: 200px;
  margin-top: 100px;
 
}
.Dropdown {
 color: #fff;
background-color: #e4fbff;

  border-radius: 5px 5px 5px 5px;
  border-color: #008dc8;
  font-size: 10px;
  transition: all 0.5s;
  cursor: pointer;
  
 
 
}
@media (max-width: 992px) {
  .BannerImage{
     width: 15rem;
     margin-left: 0;
  }
  .Button {
    margin-left: 0;
    width: 15rem;


  }
  .Card {
    width:25rem;
    margin-left: 120px;
   
  }

 
}
.Dropdown {
  width: 15rem;
  color: #fff;
  font-size: 10px;
  background-color: #e4fbff;
  border-color: #008dc8;

  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  transition: all 0.5s;
}
@media (max-width: 992px) {
  .BannerImage {
    width: 15rem;
    margin-left: 0;
  }
  .Button {
    width: 15rem;
    margin-left: 0;
  }
  .Card {
    width:25rem;
    margin-left: 150px;
  }
  .Button1 {
    margin-left: 250px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .RowCard {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .ColumnCard {
    max-width: 100%;
  }

  .ColumnPost {
    max-width: 90%;
  }
  .Card {
    width:25rem;
    margin-left: 0px;
  }

}

@media only screen and (max-width: 530px) {
  .Title {
    margin-top: 10px;
    font-size: 30px;
  }

  .CardImage {
    width: 100px;
    height: 90px;
    margin-left: 15px;
    padding: 15px;
  }

  .Heading,
  .Value {
    font-size: 1.1rem;
  }
  .Card {
    width:25rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 450px) {
  .Title {
    margin-top: 10px;
    font-size: 20px;
  }

  .CardImage {
    width: 80px;
    height: 80px;
    margin-left: 15px;
    padding: 15px;
  }

  .Heading,
  .Value {
    font-size: 1rem;
  }
  .Card {
    width:20rem;
    margin-left: 0;
  }
  .Button1 {
    margin-left: 150px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 355px) {
  .Title {
    margin-top: 10px;
    font-size: 18px;
    margin-right: 10px;
  }

  .CardImage {
    width: 80px;
    height: 80px;
    margin-left: 15px;
    padding: 15px;
  }

  .Heading,
  .Value {
    font-size: 1rem;
  }

  .Card {
    width:17rem;
    margin-left: 0;
  }

  .ColumnCard {
    padding: 0;
  }
  .Button1 {
    margin-left: 100px;
    margin-top: 10px;
  }
 
}
