.ColumnCard {
  max-width: 80%;
}

.ColumnPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 20%;
  padding-top: 20px;
}

.Card {
  width: 40rem;
  /* margin-left: 50%; */
  margin-top: 5rem;
  margin-left: 15rem;
  border-top-color: #008dc8;
  border-top-width: 20px;
  border-radius: 15px;
  /* margin-left: 50%; */
  border-radius: 15px;
  box-shadow: 0px 2px 2px 0px #ccc;
}

.CardTitle {
  font-size: 1rem;
  text-align: left;
}

a:hover {
  text-decoration: none;
}

.CardImage {
  width: 180px;
  width: 180px;
  height: 100px;
  margin-left: 20px;
  padding: 20px;
  padding: 20px;
  padding-bottom: 0px;
}

.Rectangle {
  width: 155px;
  height: 3px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.HeadingRow {
  flex-wrap: nowrap;
  align-items: center;
}

.Title {
  display: inline-block;
  margin-top: 2rem;
  color: #008dc8;
  font-size: 20px;
  word-wrap: break-word;
  word-break: normal;
  overflow-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphen: none;
  -moz-hyphen: none;
}

.Description {
  margin-top: 25px;
  margin-left: 35px;
  hyphens: none;
  line-break: auto;
}

.Description {
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 35px;
}

.Heading {
  margin-top: 5px;
  margin-left: 0px;
}

.Value {
  margin-top: 5px;
  margin-left: 5px;
  color: black;
}

.Button {
  position: relative;
  margin-top: 20px;
  padding: 5px 30px 5px 30px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

.Button:hover {
  text-decoration: none;
  background: #55b1eb;
  background-image: -webkit-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -moz-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -ms-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -o-linear-gradient(top, #55b1eb, #2389c4);
  background-image: linear-gradient(to bottom, #55b1eb, #2389c4);
}

/* make outline none when button gets clicked */
.Button:focus {
  outline: none;
}

.Button1 {
  position: relative;
  float: right;
  margin-top: 20px;
  padding: 5px 30px 5px 30px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

.Button1:hover {
  text-decoration: none;
  background: #55b1eb;
  background-image: -webkit-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -moz-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -ms-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -o-linear-gradient(top, #55b1eb, #2389c4);
  background-image: linear-gradient(to bottom, #55b1eb, #2389c4);
}

/* make outline none when button gets clicked */
.Button1:focus {
  outline: none;
}

.BannerImage {
  width: 7rem;
  height: 15rem;
  margin-top: 100px;
  margin-left: 200px;
}

@media (max-width: 992px) {
  .BannerImage {
    width: 15rem;
    margin-left: 0;
  }

  .Button {
    width: 15rem;
    margin-left: 0;
  }

  .Card {
    width: 25rem;
    margin-left: 120px;
  }
}

.Dropdown {
  width: auto;
  min-width: 200px;
  color: #fff;
  font-size: 10px;
  background-color: #e4fbff;
  border-color: #008dc8;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  transition: all 0.5s;
}

@media (max-width: 992px) {
  .BannerImage {
    width: 15rem;
    margin-left: 0;
  }

  .Button {
    width: 15rem;
    margin-left: 0;
  }

  .Card {
    width: 25rem;
    margin-left: 150px;
  }

  .Button1 {
    margin-top: 10px;
    margin-left: 250px;
  }
}

@media only screen and (max-width: 800px) {
  .RowCard {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .ColumnCard {
    max-width: 100%;
  }

  .ColumnPost {
    max-width: 90%;
  }

  .Card {
    width: 25rem;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 530px) {
  .Title {
    margin-top: 10px;
    font-size: 30px;
  }

  .CardImage {
    width: 100px;
    height: 90px;
    margin-left: 15px;
    padding: 15px;
  }

  .Heading,
  .Value {
    font-size: 1.1rem;
  }

  .Card {
    width: 25rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 450px) {
  .Title {
    margin-top: 10px;
    font-size: 20px;
  }

  .CardImage {
    width: 80px;
    height: 80px;
    margin-left: 15px;
    padding: 15px;
  }

  .Heading,
  .Value {
    font-size: 1rem;
  }

  .Card {
    width: 20rem;
    margin-left: 0;
  }

  .Button1 {
    margin-top: 10px;
    margin-left: 150px;
  }
}

@media only screen and (max-width: 355px) {
  .Title {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;
  }

  .CardImage {
    width: 80px;
    height: 80px;
    margin-left: 15px;
    padding: 15px;
  }

  .Heading,
  .Value {
    font-size: 1rem;
  }

  .Card {
    width: 17rem;
    margin-left: 0;
  }

  .ColumnCard {
    padding: 0;
  }

  .Button1 {
    margin-top: 10px;
    margin-left: 100px;
  }
}
