.Box {
  /* justify-content: center; */
  /* margin: 5% 5% 5% 5%; */
  margin: 5%;
  /* margin-bottom: 5%; */
}

.ColumnCard {
  max-width: 80%;
}
.ColumnPost {
  max-width: 20%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Card {
  width: 100%;
  min-height: 330px;
  border-radius: 15px;
  /* margin-left: 50%; */
  padding: 20px 10px;

  box-shadow: 0px 2px 2px 0px #ccc;
}
.CardTitle {
  font-size: 23px;
  text-align: left;
  color: black;
}
a:hover {
  text-decoration: none;
}
.CardImage {
  height: 100px;
  width: 120px;
  padding: 20px;
  margin-left: 20px;
  padding-bottom: 0px;
}
.Rectangle {
  height: 3px;
  width: 155px;
  background-color: #008dc8;
  margin-bottom: 20px;
}
.HeadingRow {
  flex-wrap: nowrap;
  align-items: center;
}
.Title {
  margin-top: 35px;
  /* margin-left: 15px; */
  color: #008dc8;
  /* display: inline-block;
  word-break: break-word; */
  width: 65%;
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  line-break:auto;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
}
.Description {
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 25px;
}
.Heading {
  margin-top: 5px;
  margin-left: 0px;
}

.Value {
  margin-top: 5px;
  margin-left: 5px;
  color: black;
}
.Button {
  background-color: #008dc8;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 5px 30px 5px 30px;
  margin-top: 3px;
  margin-right: 4%;
  position: relative;
  float: right;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 5px 10px -8px rgba(0, 0, 0, 0.7);
  align-self: center;
  /* width: 100%; */
}
.BannerImage {
  height: 200px;
  width: 200px;
  padding: 20px;
  padding-bottom: 0px;
  /* margin: auto; */
}

@media only screen and (max-width: 800px) {
  .RowCard {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .ColumnCard {
    max-width: 100%;
  }
  .ColumnPost {
    max-width: 90%;
  }
}
@media only screen and (max-width: 530px) {
  .Title {
    font-size: 30px;
    margin-top: 10px;
  }
  .CardImage {
    height: 90px;
    width: 100px;
    padding: 15px;
    margin-left: 15px;
  }
  .Heading,
  .Value {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 450px) {
  .Title {
    font-size: 25px;
    margin-top: 10px;
  }
  .CardImage {
    height: 80px;
    width: 80px;
    padding: 15px;
    margin-left: 15px;
  }
  .Heading,
  .Value {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 355px) {
  .Title {
    font-size: 20px;
    margin-top: 10px;
  }
  .CardImage {
    height: 80px;
    width: 80px;
    padding: 15px;
    margin-left: 15px;
  }
  .Heading,
  .Value {
    font-size: 1rem;
  }
  .Card {
    padding: 5px;
  }
  .ColumnCard {
    padding: 0;
  }
}
