.Box {
  /* justify-content: center; */
  /* margin: 5% 5% 5% 5%; */
  margin: 5%;
  /* margin-bottom: 5%; */
}
.Card {
  width: 50rem;
  height: 25rem;
  border-radius: 15px;
  /* margin-left: 50%; */
  margin-top: auto;

  box-shadow: 0px 2px 2px 0px #ccc;
}
.CardTitle {
  font-size: 20px;
  text-align: left;
  color: black;
}
a:hover {
  text-decoration: none;
}
.CardImage {
  height: 100px;
  width: 180px;
  padding: 20px;
  margin-left: 20px;
  padding-bottom: 0px;
}
.Rectangle {
  height: 3px;
  width: 155px;
  background-color: #008dc8;
  margin-bottom: 20px;
}
.Title {
  margin-top: 35px;
  margin-left: 15px;
  color: #008dc8;
}
.Description {
  margin-top: 15px;
  margin-left: 35px;
  margin-right: 25px;
}
.Heading {
  margin-top: 5px;
  margin-left: 0px;
}

.Value {
  margin-top: 5px;
  margin-left: 5px;
  color: black;
}
.Button {
  background-color: #008dc8;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 30px 5px 30px;
  margin-top: 1px;
   
  position: relative;
  float: right;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 5px 10px -8px rgba(0, 0, 0, 0.7);
  align-self: center;
}
.BannerImage {
  height: 15rem;
  width: 7rem;
  margin-left: 200px;
  margin-top: 100px;
 
}
@media (max-width: 992px) {
  .BannerImage{
     width: 15rem;
     margin-left: 0;
  }
  .Button {
    margin-left: 0;
    width: 15rem;

  }

}
