.Jumbotron {
  background-color: white;
  margin-top: 30px;
  padding-top: 80px;
}

.Heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 700;
  z-index: 100;
}

.TagLine {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}

.Rectangle {
  height: 5px;
  width: 250px;
  background-color: #008dc8;
  margin-bottom: 20px;
}

.Button {
  background-color: #008dc8;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 5px 30px 5px 30px;
  margin-top: 20px;
  margin-right: 10%;
  position: relative;
  float: right;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.BannerImage {
  height: 400px;
  width: 700px;
  z-index: 10;
}

@media (min-width: 150px) and (max-width: 355px) {
  .TagLine {
    margin-top: 140%;
  }

  .rightCol {
    margin-top: -200%;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 355px) and (max-width: 425px) {
  .TagLine {
    margin-top: 120%;
  }

  .rightCol {
    margin-top: -160%;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 427px) and (max-width: 455px) {
  .TagLine {
    margin-top: 120%;
  }

  .rightCol {
    margin-top: -150%;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 455px) and (max-width: 512px) {
  .TagLine {
    margin-top: 120%;
  }

  .rightCol {
    margin-top: -150%;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 513px) and (max-width: 767px) {
  .TagLine {
    margin-top: 100%;
  }

  .rightCol {
    margin-top: -115%;
    height: 300px;
    width: 600px;
  }

  .Button {
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .Button {
    float: left;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 650px){
  .Heading {
    font-size: 50px;
    font-weight: 700;
  }
  .TagLine {
    font-size: 35px;
  }
  .BannerImage {
    height: 350px;
    width: 500px;
  }
}
@media only screen and (max-width: 516px){
  .Heading {
    font-size: 40px;
    font-weight: 700;
  }
  .TagLine {
    font-size: 25px;
    /* margin-top: 100px; */
  }
  .BannerImage {
    height: 300px;
    width: 400px;
    margin-top: 70px;
  }
}
@media only screen and (max-width: 400px){
  .Heading {
    font-size: 35px;
    font-weight: 700;
  }
  .TagLine {
    font-size: 20px;
    /* margin-top: 200px; */
    padding-top: 80px;
  }
  .BannerImage {
    height: 250px;
    width: 300px;
    margin-top: 80px;
  }
}
