.Jumbotron {
  margin-top: 30px;
  padding-top: 80px;
  background-color: white;
  padding-bottom: 0px;
}

.Heading {
  z-index: 100;
  font-weight: 700;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

.TagLine {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
}

.Rectangle {
  width: 250px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.Button {
  position: relative;
  float: right;
  margin-top: 20px;
  margin-right: 10%;
  padding: 5px 30px 5px 30px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

.Button:hover {
  text-decoration: none;
  background: #55b1eb;
  background-image: -webkit-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -moz-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -ms-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -o-linear-gradient(top, #55b1eb, #2389c4);
  background-image: linear-gradient(to bottom, #55b1eb, #2389c4);
}

/* make outline none when button gets clicked */
.Button:focus {
  outline: none;
}

.BannerImage {
  z-index: 10;
  width: 325px;
  height: 325px;
  margin-top: 10%;
  position: relative;
  left: 30%;
}

.BannerImage2 {
  display: none;
}

@media only screen and (max-width: 767px) {
  .BannerRow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }

  .BannerImage {
    display: none;
  }

  .BannerImage2 {
    display: block;
    width: 80%;
    height: auto;
    margin: 20px;
  }

  .Button {
    float: left;
  }
}

@media only screen and (max-width: 700px) {
  .Heading {
    font-weight: 700;
    font-size: 50px;
  }

  .TagLine {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .Heading {
    font-weight: 700;
    font-size: 40px;
  }

  .TagLine {
    font-size: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .Heading {
    font-weight: 700;
    font-size: 35px;
  }

  .TagLine {
    font-size: 20px;
  }

  .BannerRow {
    margin-left: 0;
  }

  .Button {
    margin-left: 10px;
  }
}
