.CardTitle {
  font-size: 33px;
  text-align: left;
  color: black;
}

a:hover {
  text-decoration: none;
}

.CardImage {
  height: 200px;
  width: 200px;
  padding: 20px;
  padding-bottom: 0px;
}
.Input {
  border-left-width: 0in;
  border-top-width: 0in;
  border-right-width: 0in;
}
.RectangleEligibility {
  height: 5px;
  width: 105px;
  background-color: #008dc8;
  margin-bottom: 20px;
}
.RectangleBasicDetails {
  height: 3px;
  width: 360px;
  background-color: #008dc8;
  margin-bottom: 20px;
}
.RectangleJobDescription {
  height: 5px;
  width: 195px;
  background-color: #008dc8;
  margin-bottom: 20px;
}
.RectangleRounds {
  height: 5px;
  width: 95px;
  background-color: #008dc8;
  margin-bottom: 20px;
}
.Button {
  background-color: #008dc8;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  margin-top: 5px;
  position: relative;
  float: right;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
