@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.Heading {
  font-weight: bold;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0px;
  text-align: center;
}

::placeholder,
:placeholder-shown {
  font-size: 1.2rem;
  font-family: 'Inter', sans-serif;
}

.Button {
  position: relative;
  float: right;
  margin-top: 20px;
  margin-right: 10%;
  padding: 5px 30px 5px 30px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

.Button:hover {
  text-decoration: none;
  background: #55b1eb;
  background-image: -webkit-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -moz-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -ms-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -o-linear-gradient(top, #55b1eb, #2389c4);
  background-image: linear-gradient(to bottom, #55b1eb, #2389c4);
}

.Button:focus {
  outline: none;
}

textarea {
  resize: none;
}

.iconSpan {
  padding: 0.375rem 0.75rem;
  background-color: #008dc8;
  border: none;
  border-radius: 0.3rem 0 0 0.3rem;
  display: grid;
  place-items: center;
}

.contactIcon {
  color: white;
}
