.head {
  font-weight: 390;
  font-size: 40px;
  letter-spacing: 0;
  text-align: center;
}
.onHover:hover {
  text-decoration: none;
}
.image {
  margin-left: 25%;
  cursor: pointer;
  transition: all 0.3s ease;
  zoom: 0.8;
}
.faqs {
  align-items: center;
  width: 54%;
  margin: 0.4%;
  margin-left: 22%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.question {
  color: #000000;
  font-weight: 370;
  font-size: 1.5rem;
  letter-spacing: 0;
}
.answer {
  max-height: 0;
  opacity: 0;
  transition: all ease;
}
.answeropen {
  align-items: center;
  width: 54%;
  max-height: none;
  margin-left: 22%;
  padding: 10px;
  color: #204967;
  font-size: 1.2rem;
  background-color: #f4f5f6;
  border: 0.1px solid #000029;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  transition: all ease;
}
@media screen and (max-width: 991px) {
  .faqs {
    width: 70%;
    margin-left: 15%;
  }
  .answeropen {
    width: 70%;
    margin-left: 15%;
  }
}
@media screen and (max-width: 510px) {
  .question {
    font-size: 1.3rem;
  }
  .image {
    zoom: 0.7;
  }
  .answeropen {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 440px) {
  .faqs {
    width: 82%;
    margin-left: 10%;
    padding: 7px;
    padding-left: 0px;
  }
  .question {
    font-size: 1.25rem;
  }
  .answeropen {
    width: 82%;
    margin-left: 10%;
    font-size: 1.05rem;
  }
}
@media screen and (max-width: 366px) {
  .faqs {
    width: 90%;
    margin-left: 4%;
    padding: 5px;
    padding-left: 0px;
  }
  .question {
    font-size: 1.2rem;
  }
  .answeropen {
    width: 90%;
    margin-left: 4%;
    font-size: 1rem;
  }
  .image {
    zoom: 0.65;
  }
}
