body,
html {
  overflow-x: hidden;
}
.Jumbotron {
  margin: 0px;
  padding: 20px;
  padding-left: 0px;
  /* padding-bottom: 0px; */
}
.ImgColumn {
  display: flex;
  justify-content: center;
  margin-left: 12px;
}

.ContactCol {
  justify-content: center;
  margin-left: 12px;
  margin-top: 20px;
}

.ContactRow {
  justify-content: center;
  margin-left: 2%;
  margin-top: 20px;
}
.ContactRow p {
  padding-right: 20px;
}
.Logo {
  /* height: 180px; */
  width: 70%;
  justify-content: center;
}
.Top1 {
  align-items: center;
  margin-bottom: 1px;
}

.Bottom2,
.Top2 {
  display: none;
}

h5 {
  margin-bottom: 0px;
  color: #008dc8;
  font-family: Arial, Helvetica, sans-serif;
}

.Rectangle {
  position: absolute;
  right: 50%;
  left: 0;
  margin-left: 130px;
  border-bottom: 2px #008dc8 solid;
}
.Rectangle2 {
  position: absolute;
  right: 60%;
  left: 0;
  margin-left: 153px;
  border-bottom: 2px #008dc8 solid;
}

p {
  margin-top: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.Bottom1 {
  padding: 0px;
  margin-top: 1px;
  margin-left: 38%;
}

.SocialLinks {
  text-align: end;
  justify-content: center;
  margin-right: 2px;
  margin-top: 0px;
}

.Shift {
  margin-top: 0px;
  margin-left: 40px;
  color: black;
  font-size: 25px;
}

.Shift:hover {
  border: none;
}

@media only screen and (max-width: 1025px) {
  .Column1,
  .Column2,
  .ImgColumn,
  .Top1 {
    max-width: 100%;
  }
  .Column1 {
    margin-left: 25px;
  }
  .Bottom1 {
    padding: 0px;
    margin-top: 1px;
    margin-left: 36%;
  }
  .Rectangle {
    position: absolute;
    right: 50%;
    left: 0;
    margin-left: 90px;
    border-bottom: 2px #008dc8 solid;
  }
  .Rectangle2 {
    margin-left: 112px;
    border-bottom: 2px #008dc8 solid;
  }
  .ContactCol {
    margin-left: 50px;
  }
}

@media (max-width: 983px) {
  .ContainerFooter {
    max-width: 95% !important;
  }
  .Column1 p,
  .Column2 p {
    font-size: 0.9rem;
  }
  .Rectangle {
    position: absolute;
    right: 50%;
    left: 0;
    margin-left: 80px;
    border-bottom: 2px #008dc8 solid;
  }
}
@media (max-width: 863px) {
  .ContainerFooter {
    max-width: 95% !important;
  }
  .Column1 p,
  .Column2 p {
    font-size: 0.9rem;
  }
  .Column1 {
    max-width: 25%;
    padding: 10px;
    margin-left: 72px;
  }
  .Column2 {
    max-width: 26%;
    padding: 15px;
    margin-left: 72px;
  }
  .ImgColumn {
    max-width: 19%;
    padding: 0px;
    margin-left: 72px;
  }
  .Rectangle {
    position: absolute;
    right: 50%;
    left: 0;
    margin-left: 36px;
    border-bottom: 2px #008dc8 solid;
  }
  .Rectangle2 {
    margin-left: 66px;
    border-bottom: 2px #008dc8 solid;
  }
  .Bottom1 {
    padding: 0px;
    margin-top: 1px;
    margin-left: 32%;
  }
}
@media (max-width: 850px) {
  .Column1,
  .Column2 {
    max-width: 25%;
  }
  .ImgColumn {
    max-width: 25%;
  }
}
@media only screen and (max-width: 769px) {
  .ContainerFooter {
    max-width: 80% !important;
  }
  .Column1,
  .Column2,
  .ImgColumn {
    max-width: 30%;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
    margin-left: 40px;
    text-align: center;
  }

  .Rectangle {
    position: absolute;
    right: 0%;
    margin-left: 16px;
    border-bottom: 2px #008dc8 solid;
  }
  .Rectangle2 {
    position: absolute;
    margin-left: 42px;
    border-bottom: 2px #008dc8 solid;
  }
  .Bottom1,
  .Top1,
  .Phone,
  .Mail {
    display: flex;
  }

  .Bottom2,
  .Top2 {
    display: none;
  }

  .Top3 {
    display: none;
  }

  .Bottom1 {
    margin-left: 145px;
  }
  .SocialLinks {
    text-align: center;
  }
}
@media only screen and (max-width: 426px) {
  .Top1 {
    display: flex;
    flex-direction: column;
  }
  .Bottom1 {
    max-width: 100%;
    text-align: center;
    margin-left: 18px;
  }
  .Column1,
  .Column2,
  .ImgColumn {
    max-width: 100%;
    justify-content: stretch;
    /* margin-top: 20px; */
    /* padding-left: 20px; */
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .SocialLinks {
    margin-left: 10px;
  }
  .ContactCol {
    margin-left: 35px;
  }
  .ContactRow {
    margin-left: 38px;
  }
  .Logo {
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .Rectangle {
    margin-left: 90px;
  }
  .Rectangle2 {
    margin-left: 112px;
  }
}
@media only screen and (max-width: 376px) {
  .Rectangle {
    margin-left: 74px;
  }
  .Rectangle2 {
    margin-left: 93px;
  }
}
