body,
html {
  overflow-x: hidden;
}
.Jumbotron {
  margin: 0px;
  padding: 20px;
  padding-left: 0px;
  /* padding-bottom: 0px; */
}
.ImgColumn {
  display: flex;
  justify-content: center;
  margin-left: 12px;
}

.ContactCol {
  justify-content: center;
  margin-left: 12px;
  margin-top: 6px;
}
.Logo {
  /* height: 180px; */
  width: 70%;
  justify-content: center;
}
.Top1 {
  align-items: center;
  margin-bottom: 1px;
}

.Bottom2,
.Top2 {
  display: none;
}

/* .Column {
  margin-top: 30px;
} */

h5 {
  margin-bottom: 0px;
  color: #008dc8;
  font-family: Arial, Helvetica, sans-serif;
}

.Rectangle {
  position: absolute;
  right: 50%;
  left: 0;
  margin-left: 90px;
  border-bottom: 2px #008dc8 solid;
}

.line1 {
  width: 100%;
  height: 1px;
  margin-top: 0px;
  background-color: grey;
  border: none;
  opacity: 1;
}

.line2 {
  width: 1px;
  height: 140px;
  margin-right: 2%;
  margin-left: 0px;
  background-color: grey;
  border: none;
  opacity: 1;
}

p {
  margin-top: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.Bottom1 {
  padding: 0px;
  margin-top: 1px
}

.SocialLinks {
  text-align: end;
  justify-content: center;
  margin-right: 2px;
}

.Shift {
  margin-top: 0px;
  margin-left: 40px;
  color: black;
  font-size: 25px;
}

.Shift:hover {
  border: none;
}

@media only screen and (max-width: 1211px) {
  .Column1,
  .Column2,
  .ImgColumn {
    max-width: 22%;
  }
  .Column3 {
    max-width: 35%;
  }
}
@media only screen and (max-width: 991px) {
  .ContainerFooter {
    max-width: 90% !important;
  }
  .line2 {
    margin-right: 0%;
  }
  .Column1,
  .Column2,
  .ImgColumn {
    max-width: 21%;
  }
  .Column3 {
    max-width: 30%;
  }
}

@media (max-width: 982px) {
  .ContainerFooter {
    max-width: 95% !important;
  }
  .Column1 p,
  .Column2 p,
  .Column3 p {
    font-size: 0.9rem;
  }
}
@media (max-width: 862px) {
  .Column1 {
    max-width: 25%;
    padding: 10px;
  }
  .Column2 {
    max-width: 26%;
    padding: 15px;
  }
  .ImgColumn {
    max-width: 19%;
    padding: 5px;
  }
  .Column3 {
    max-width: 30%;
    padding-right: 0px;
  }
}
@media (max-width: 862px) {
  .Column1,
  .Column2 {
    max-width: 25%;
  }
  .ImgColumn {
    max-width: 19%;
  }
  .Column3 {
    max-width: 31%;
  }
}
@media (max-width: 767px) {
  .ContainerFooter {
    max-width: 75% !important;
  }
  .RectangleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .Rectangle2 {
    position: absolute;
    right: 0;
    margin-right: 25px;
    border-bottom: 2px #008dc8 solid;
  }
  .Rectangle3 {
    position: absolute;
    margin: auto;
    border-bottom: 2px #008dc8 solid;
  }
  .Bottom1,
  .Top1,
  .Phone,
  .Mail {
    display: none;
  }

  .Bottom2,
  .Top2 {
    display: flex;
  }

  .Top3 {
    text-align: center;
  }

  #Prod {
    margin-left: 180px;
  }

  .Para {
    margin-bottom: 0px;
    text-align: center;
  }

  .SocialLinks {
    text-align: center;
  }
}
@media only screen and (max-width: 562px) {
  .ContactRow {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .Top2 {
    margin-top: 10px;
  }
  .Jumbotron {
    padding-left: 20px;
  }
}
@media (max-width: 505px) {
  .ContainerFooter {
    max-width: 90% !important;
  }
}
@media (max-width: 505px) {
  .ContainerFooter {
    max-width: 90% !important;
  }
  .ContainerFooter p {
    font-size: 0.9rem;
  }
  .SocialLinks a {
    font-size: 1rem;
  }
  .Para {
    padding-bottom: 5px;
  }
}