@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.Jumbotron {
    margin: 0px;
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.Logo {
    height: 180px;
    width: 200px;
}

.Bottom2, .Top2 {
    display: none;
}

.Column {
    margin-top: 30px;
}

h5 {
    color: #008dc8;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px;
}

.Border {
    border-bottom: #008dc8 solid 2px;
    display: table-cell;
    position: relative;
}

.Rectangle {
    border-bottom: 2px #008dc8 solid;
    position: absolute;
    /* right: 50%; */
    /* left: 0; */
    /* margin-left: 25px; */
}

.line1 {
    width: 100%;
    height: 1px;
    background-color: grey;
    opacity: 1;
    border: none;
    margin-top: 0px;
}

.line2 {
    width: 1px;
    height: 140px;
    background-color: grey;
    opacity: 1;
    border: none;
    margin-left: 0px;
    margin-right: 2%;
}

p {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
}

.Bottom1 {
    padding: 0px;
}

.SocialLinks {
    text-align: end;
}

.Shift {
    margin-left: 40px;
    margin-top: 0px;
    font-size: 22px;
    color: black;
}

.Shift:hover {
    border: none;
}

@media (max-width: 995px){
    .Bottom1, .Top1, .Phone, .Mail {
        display: none;
    }

    .Bottom2, .Top2 {
        display: flex;
    }

    .Top3 {
        text-align: center;
    }

    #Prod {
        margin-left: 180px;
    }

    .Para {
        text-align: center;
        margin-bottom: 0px;
    }

    .SocialLinks {
        text-align: center;
    }
}