.CardTitle {
  color: black;
  font-size: 33px;
  text-align: left;
}

a:hover {
  text-decoration: none;
}

.CardImage {
  width: 200px;
  height: 200px;
  padding: 20px;
  padding-bottom: 0px;
}

.Input {
  border-top-width: 0in;
  border-right-width: 0in;
  border-left-width: 0in;
}

.RectangleEligibility {
  width: 105px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.RectangleBasicDetails {
  width: 235px;
  height: 3px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.RectangleJobDescription {
  width: 195px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.RectangleRounds {
  width: 95px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.Button {
  position: relative;
  float: right;
  margin-top: 5px;
  padding: 5px 20px 5px 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

/* make outline none when button gets clicked */
.Button:focus {
  outline: none;
}

.HackathonsComponent {
  width: 55%;
  margin: 120px auto 20px;
  padding-left: 3%;
}


@media only screen and (max-width: 1113px) {
  .CodingCompComponent {
    width: 60%;
    margin: 120px auto 20px;
    padding-left: 3%;
  }
}

@media only screen and (max-width: 1000px) {
  .CodingCompComponent {
    width: 65%;
    margin: 120px auto 20px;
    padding-left: 2%;
  }
}

@media only screen and (max-width: 801px) {
  .CodingCompComponent {
    width: 70%;
    margin: 120px auto 20px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .CodingCompComponent {
    width: 75%;
    margin: 120px auto 20px;
    padding-right: 40px;
  }

  .Card {
    margin-top: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .CodingCompComponent {
    width: 80%;
    margin: 120px auto 20px;
    padding-right: 0px;
  }

  .Input,
  textarea {
    margin-left: 0px !important;
  }
}

