@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.Jumbotron {
    background-color: white;
    padding-top: 0px;
    /* justify-content: center; */
}

.Heading {
    text-align: center;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}

.About {
    color: #008dc8;
    font-family: "Poppins", sans-serif;
}