.Box {
    /* justify-content: center; */
    /* margin: 5% 5% 5% 5%; */
    margin: 5%;
    /* margin-bottom: 5%; */
}

.Card {
    width: 200px;
    border-radius: 5%;
    /* margin-left: 50%; */
    box-shadow: 0px 3px 4px 0px #ccc;
}

.CardTitle {
    font-size: 23px;
    text-align: left;
    color: black;
}

a:hover{
    text-decoration: none;
}

.CardImage {
    height: 200px;
    width: 200px;
    padding: 20px;
    padding-bottom: 0px;
}

.Rectangle {
    height: 3px;
    width: 155px;
    background-color: #008dc8;
    margin-bottom: 20px;
}

@media (min-width: 300px) (max-width: 531px) {
    .Box {
        width: 100%;
    }
}