.Jumbotron {
  padding-top: 0px;
  background-color: white;
  /* justify-content: center; */
}

.Heading {
  font-size: 50px;
  text-align: center;
}

.About {
  color: #008dc8;
}

@media only screen and (max-width: 531px) {
  .Heading {
    font-size: 40px;
  }
  .justify_content{
    justify-content: center !important;
  }
}
