.Box {
  /* justify-content: center; */
  /* margin: 5% 5% 5% 5%; */
  margin: 5%;
  /* margin-bottom: 5%; */
}

.Card {
  width: 200px;
  border-radius: 5%;
  /* margin-left: 50%; */
  box-shadow: 0px 3px 4px 0px #ccc;
}

.Card:hover{
    animation: card-ani 3s infinite;
    background-color: grey;
}

.CardTitle {
  font-size: 23px;
  text-align: left;
  color: black;
}

a:hover {
  text-decoration: none;
}

.CardImage {
  height: 200px;
  width: 200px;
  padding: 20px;
  padding-bottom: 0px;
}

.Rectangle {
  height: 3px;
  width: 155px;
  background-color: #008dc8;
  margin-bottom: 20px;
}

@keyframes card-ani{
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-20px);
    }
}

@media (min-width: 300px) and (max-width: 531px) {
    .Box {
        width: 100%;
    }
}
