.NavBar {
  margin: 0 0;
  background-color: white !important;
}

.NavBar a {
  color: black !important;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 17px;
  margin: auto 8px;
}

.Brand:hover {
  border: none;
  text-decoration: none;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.Logo {
  letter-spacing: 0px;
  font-size: 2.3rem;
  font-weight: 390;
  font-family: Arial;
  padding-left: 20px;
}

a:hover,
a:active,
a:global(.active) {
  cursor: pointer;
  border-bottom: 2px solid #008dc8;
}

.Middle {
  display: flex;
}

.ShiftRight{
  display: flex;
  justify-content: flex-end;
}

.Search {
  border-radius: 8px 0px 0px 8px;
}



.SearchButton {
  background-color: #008dc8;
  border: none;
  color: white;
  padding: 4px 10px 4px 10px;
  border-radius: 0px 8px 8px 0px;
  font-size: 20px;
  position: relative;
  transition: all 0.5s;
}

.Title {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 8px;
  margin-right: 85px;
}

.Dropdown {
  background-color: #008dc8;
  border: none;
  color: #fff;
  margin-left: 40px;
  border-radius: 10px 10px 0px 0px;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
  width: 256px;
}

.Button {
  background-color: #008dc8;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 5px 30px 5px 30px;
  margin-right: 2%;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}


@media only screen and (max-width: 993px) {
  .Middle {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .Middle {
    margin-left: 0px;
    margin-right: 0;
  }
  .ShiftRight {
    margin-left: 0px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    justify-content: space-between;
  }
  .Dropdown {
    margin-left: 0px;
    margin-top: 10px;
  }
  .Button {
    margin-top: 10px;
    /* font-size: 1rem; */
  }
}

@media only screen and (max-width: 450px) {
  .ShiftRight {
    padding-left: 10px;
    font-size: 0.9rem;
    width: 100%;
  }
  .Button, .Middle{
    font-size: 1rem;
  }
  .Middle{
    width: 100%;
    justify-content: flex-start;
  }
  .NavBar a{
    font-size: 0.9rem;
    padding: 5px;
  }
  .Title{
    font-size: 1rem;
    padding: 0;
  }
  .SearchButton{
    padding: 3px 5px;
    width: 10%;
  }
  .Search{
    padding: 10px 5px;
    width: 50%;
  }
  .SearchForm{
    width: 100%;
  }
}
@media only screen and (max-width: 360px) {
  .Logo {
    position: relative;
    left: -20px;
    font-size: 2rem;
  }
  button {
    position: absolute;
    top: 16px;
    right: 20px;
    /* margin-top: 10px; */
  }
}