@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
.NavBar {
  margin: 0 0;
  background-color: white !important;
}

a:hover,
a:active,
a:global(.active) {
  border-bottom: 2px solid #008dc8;
  cursor: pointer;
}

.NavBar a {
  margin: auto 8px;
  /* color: black !important; */
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0px;
}

.Brand{
  color: black !important;
}
.Brand:hover {
  text-decoration: none;
  border: none;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.Logo {
  padding-left: 20px;
  font-weight: 390;
  font-size: 2.3rem;
  font-family: Arial;
  letter-spacing: 0px;
}

.Middle {
  margin-right: inherit;

  margin-left: inherit;
}

.ShiftRight {
  display: flex;
  justify-content: flex-end;
}
.ShiftRight Button{
  margin-bottom: 10px;
}

/* New Search Bar */
Form{
  padding: 0 !important;
  
}
Form input{
  background-color:#F0F0F0 !important;
  width: inherit;
}

.container {
  position: relative;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 210%;
  width: 300px;
  height: 50px;
  margin: auto;
}
/***Form search****/
form .search {
  position: absolute;
  top:-3px;
  right: 0;
  bottom: 0;
  left: -15px;
  color: rgb(134, 129, 129);
  /* width: 15px;
  height: 2px; */
  z-index: 4;
  width: 60px;
  height: 60px;

  border-radius: 50%;
 
}


.search:hover {
  cursor: pointer;
}
.search::before {
  position: absolute;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 13px;
  height: 2px;
  margin: auto;
  background: rgb(134, 129, 129);
  transform: rotate(45deg);
  transition: all 0.5s;
  content: '';
}
.search::after {
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0px;
  width: 20px;
  height: 20px;
  margin: auto;
  border: 2px solid rgb(134, 129, 129);
  border-radius: 50%;
  transition: all 0.5s;
  content: '';
}


.inp {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  /* width: 50px; */
  height: 40px;
  margin: auto;
  padding-left: 30px;
  /* padding: 0 80px 0 20px; */
  color: black;
  font-weight: bolder;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.1em;
  /* text-shadow: 0 0 10px #82dcff; */
  background: rgb(134, 129, 129);
  border: none;
  /* border-radius: 30px; */
  outline: none;
  
}


@media screen and (max-width: 1500px){
  .container {
    width: 0;
    height: 0;
    left: 0px;
    opacity: 0;
  }
}
@media screen and (max-width: 991px) {
  .ShiftRight{
    display: grid;
  }
  .ShiftRight Button{
    margin-bottom: 10px;
  }
  
  
 Button {
   display: block;
 }
}



.Dropdown {
  float: right;

  float: right;
  margin-left: 500px;

  margin-left: 500px;
  color: #fff;

  font-size: 20px;
  background-color: #008dc8;
  border: none;
  border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}


@media (max-width: 360px) {
  .Logo {
    position: relative;

    font-size: 2rem;
  }
  .Button {
    position: absolute;
    top: 16px;
    right: 0;
  }
}

@media (max-width: 992px) {
  /* make outline none when button gets clicked */
  .Button:focus {
    outline: none;
  }

  @media only screen and (max-width: 993px) {
    .Middle {
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: 991px) {
    .Middle {
      margin-left: 0px;
    }

    .ShiftRight {
      margin-top: 10px;
      margin-left: 0px;
    }

    .Dropdown {
      width: 15rem;
      margin-top: 10px;
      margin-bottom: 0.5rem;
      margin-left: 0px;
    }

    .SearchButton {
      width: 7rem;
      padding: 4px 10px 4px 10px;
      color: white;
      font-size: 20px;
      background-color: #008dc8;
      border: none;
      border-radius: 0px 8px 8px 0px;
    }
    .Button {
      position: absolute;
      top: 16px;
      right: 0;
    }
    .Search {
      width: 4rem;
    }
  }

  @media (max-width: 992px) {
    /* make outline none when button gets clicked */
    .Button:focus {
      outline: none;
    }
    .Middle {
      margin-right: 10px;
    }

    @media only screen and (max-width: 993px) {
      .Middle {
        margin-right: 10px;
      }
    }

    @media only screen and (max-width: 991px) {
      .Middle {
        margin-left: 0px;
      }

      .ShiftRight {
        margin-top: 10px;
        margin-left: 0px;
      }

      .Dropdown {
        width: 15rem;
        margin-top: 10px;
        margin-bottom: 0.5rem;
        margin-left: 0px;
      }

      .SearchButton {
        width: 5rem;
        padding: 4px 10px 4px 10px;
        color: white;
        font-size: 20px;
        background-color: #008dc8;
        border: none;
        border-radius: 0px 8px 8px 0px;
      }

      .Button {
        margin-top: 10px;
      }
      .Search {
        width: 7rem;
      }
    }

    @media only screen and (max-width: 450px) {
      .ShiftRight {
        padding-left: 10px;
        font-size: 0.9rem;
      }

      .Button,
      .Middle {
        font-size: 1rem;
      }

      .NavBar a {
        padding: 5px;
        font-size: 0.9rem;
      }

      .Title {
        padding: 0;
        font-size: 1rem;
      }
     
    }
  }

  @media only screen and (max-width: 360px) {
    .Logo {
      position: relative;
      width: 15rem;
      transition: all 0.5s;
    }
    
  }
}

@media only screen and (max-width: 3280px) {
  .NavBar {
    padding: 8px 10px 8px 4px;
  }
  .Middle {
    margin-right: inherit;
  }
}
