@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
.NavBar {
  margin: 0 0;
  background-color: white !important;
}

a:hover,
a:active,
a:global(.active) {
  border-bottom: 2px solid #008dc8;
  cursor: pointer;

  /* background-color: #5cb3ff; */
  /* border-radius: 10px; */
  /* padding: 8px; */
  transition: 0.4s;

}

.NavBar a {
  margin: auto 8px;
  color: black !important;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0px;
}

.Brand:hover {
  text-decoration: none;
  border: none;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.Logo {
  padding-left: 20px;
  font-weight: 390;
  font-size: 2.3rem;
  font-family: Arial;
  letter-spacing: 0px;
}

.Middle {
  margin-right: inherit;
  margin-left: inherit;
}

.ShiftRight {
  display: flex;
  justify-content: flex-end;
}

/* New Search Bar */

.container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 50px;
  margin: auto;
}
.search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 55px;
  height: 55px;
  margin: auto;
  background: #008dc8;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  transition: all 1s;
}
.search:hover {
  cursor: pointer;
}
.search::before {
  position: absolute;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 15px;
  height: 2px;
  margin: auto;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
  content: '';
}
.search::after {
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 24.5px;
  height: 24.5px;
  margin: auto;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.5s;
  content: '';
}

.inp {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 50px;
  height: 40px;
  margin: auto;
  padding: 0 80px 0 20px;
  color: black;
  font-weight: bolder;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #82dcff;
  background: white;
  border: none;
  border-radius: 30px;
  outline: none;
  box-shadow: 0 0 20px 0 #54cdff, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 1s;
}
.inp:hover {
  cursor: pointer;
}
.inp:focus {
  width: 260px;
  cursor: text;
  opacity: 1;
}
.inp:focus ~ .search {
  right: -230px;
  background: #008dc8;
  opacity: 0;
  /* z-index: 6; */
}
.inp::before {
  top: 0;
  left: 0;
  width: 25px;
}

.inp::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  background: #008dc8;
  border: none;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.inp::placeholder {
  color: black;
  font-weight: bolder;
  text-shadow: 0 0 10px #82dcff;
  opacity: 0.5;
}


@media screen and (max-width: 991px) {
  .container {
    width: 280px;
    height: 45px;
  }
  .search {
    width: 48px;
    height: 48px;
  }
  .search::before {
    top: 17px;
    left: 18px;
    width: 12px;
    height: 1.5px;
  }
  .search::after {
    width: 22.5px;
    height: 21.5px;
  }
  .inp {
    width: 30px;
    height: 30px;
  }
  .inp:focus {
    width: 200px;
    cursor: text;
    opacity: 1;
  }
  .inp:focus ~ .search {
    right: -170px;
    background: #008dc8;
    opacity: 0;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 260px;
    height: 37px;
  }
  .search {
    width: 45px;
    height: 45px;
  }
  .search::before {
    top: 14px;
    left: 20px;
    width: 10px;
    height: 1px;
  }
  .search::after {
    width: 20.5px;
    height: 19.5px;
  }
  .inp {
    width: 30px;
    height: 25px;
  }
  .inp:focus {
    width: 180px;
    cursor: text;
    opacity: 1;
  }
  .inp:focus ~ .search {
    right: -150px;
    background: #008dc8;
    opacity: 0;
  }
}

/* Older SearchButton: */

/* .Search {
  border-radius: 8px 0px 0px 8px;
 margin-top: auto;

} */

/* .SearchButton {
  position: relative;
  padding: 4px 10px 4px 10px;
  color: white;
  font-size: 20px;
  background-color: #008dc8;
  border: none;
  border-radius: 0px 8px 8px 0px;

  margin-top: auto;
  font-size: 20px;
  position: relative;
  height: 2.9rem;
  width: 2.9rem;

} */

.Title {
  margin-right: 10px;

  margin-right: 10px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.Dropdown {
  float: right;
  margin-left: 500px;
  color: #fff;
  font-size: 20px;
  background-color: #008dc8;
  border: none;
  border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.Button {
  padding: 5px 30px 5px 30px;
  color: #fff ;
  font-size: 17px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.outline{
  color: #008dc8;
  background: #fff;
  border: 1px solid #008dc8;
}

.Button:hover {
  text-decoration: none;
  background: #55b1eb;
  background-image: -webkit-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -moz-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -ms-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -o-linear-gradient(top, #55b1eb, #2389c4);
  background-image: linear-gradient(to bottom, #55b1eb, #2389c4);
}

.outline:hover {
  text-decoration: none;
  color: #008dc8;
  background: #d3e5f0;
  background-image: -webkit-linear-gradient(top, #fff, #e1ecf3);
  background-image: -moz-linear-gradient(top, #fff, #e1ecf3);
  background-image: -ms-linear-gradient(top, #fff, #e1ecf3);
  background-image: -o-linear-gradient(top, #fff, #e1ecf3);
  background-image: linear-gradient(to bottom, #fff, #e1ecf3);
}

/* make outline none when button gets clicked */
.Button:focus {
  outline: none;
}

.link{
  align-self: center;
}

.link:hover{
  border: none;
}

@media (max-width: 360px) {
  .Logo {
    position: relative;

    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  /* make outline none when button gets clicked */
  .Button:focus {
    outline: none;
  }

  @media only screen and (max-width: 993px) {
    .Middle {
      margin-right: 10px;
    }
  }

  @media only screen and (max-width: 991px) {
    .Middle {
      margin-left: 0px;
    }

    .ShiftRight {
      margin-top: 10px;
      margin-left: 0px;
    }

    .Dropdown {
      width: 15rem;
      margin-top: 10px;
      margin-bottom: 0.5rem;
      margin-left: 0px;
    }

    .SearchButton {
      width: 7rem;
      padding: 4px 10px 4px 10px;
      color: white;
      font-size: 20px;
      background-color: #008dc8;
      border: none;
      border-radius: 0px 8px 8px 0px;
    }
    
    .Search {
      width: 4rem;
    }
  }

  @media (max-width: 992px) {
    /* make outline none when button gets clicked */
    .Button:focus {
      outline: none;
    }
    .Middle {
      margin-right: 10px;
    }

    @media only screen and (max-width: 993px) {
      .Middle {
        margin-right: 10px;
      }
    }

    @media only screen and (max-width: 991px) {
      .Middle {
        margin-left: 0px;
      }

      .ShiftRight {
        margin-top: 10px;
        margin-left: 0px;
      }

      .Dropdown {
        width: 15rem;
        margin-top: 10px;
        margin-bottom: 0.5rem;
        margin-left: 0px;
      }

      .SearchButton {
        width: 5rem;
        padding: 4px 10px 4px 10px;
        color: white;
        font-size: 20px;
        background-color: #008dc8;
        border: none;
        border-radius: 0px 8px 8px 0px;
      }

      .Button {
        margin-top: 10px;
      }
      .Search {
        width: 7rem;
      }
    }

    @media only screen and (max-width: 450px) {
      .ShiftRight {
        padding-left: 10px;
        font-size: 0.9rem;
      }

      .Button,
      .Middle {
        font-size: 1rem;
      }

      .NavBar a {
        padding: 5px;
        font-size: 0.9rem;
      }

      .Title {
        padding: 0;
        font-size: 1rem;
      }
      .Search {
        width: 5rem;
      }
    }
  }

  @media only screen and (max-width: 360px) {
    .Logo {
      position: relative;
      width: 15rem;
      transition: all 0.5s;
    }
    .Search {
      width: 5rem;
    }
  }
}

@media only screen and (max-width: 3280px) {
  .NavBar {
    padding: 8px 10px 8px 4px;
  }
  .Middle {
    margin-right: inherit;
  }
}
