@media (max-width: 420px) {
    .sub_text fieldset button{
        font-size: 20px;
        height: 35px;
        padding: 2px 12px 2px 12px;
        border-radius: 4px;
    }
     .sub_text fieldset input{

        margin-right: 1.7rem;
        margin-bottom: 2rem;
        height: 40px;
        width: 200px;
        border: 1px solid gray;
        border-radius: 4px;
    }
    .sub_text fieldset{
      margin-left: 10%;
      padding: 8%;
      margin-bottom: 4%;
    }
    .sub_text h4{
      padding: 2%;
    }
   .subscribe h1{
    margin-left: 20%;
  }
    
}
  
@media (min-width: 420px) {
    .field{
      margin-left: 0.2rem;
    }
    .sub_text fieldset button{
     font-size: 20px;
     height: 40px;
     padding: 3px 15px 3px 15px;
   }
    .sub_text fieldset input{
     height: 40px;
     width: 200px;
       border: 1px solid gray;
       border-radius: 4px;
   }
   .field{
     display: flex;
     flex-direction: row;
   }
    
   .subscribe h1{
    margin-left: 36%;
  }
  .sub_text fieldset{
    margin-left: 16%;
    padding: 8%;
    margin-bottom: 4%;
  }
  .sub_text h4{
    padding: 2%;
  }
}
@media (min-width: 992px) {
     .field{
       margin-left: 12rem;
     }
     .sub_text fieldset button{
      font-size: 20px;
      height: 45px;
      padding: 5px 30px 5px 30px;
    }
     .sub_text fieldset input{
      height: 45px;
      width: 280px;
        border: 1px solid grey;
        border-radius: 4px;
    }
    .field{
      display: flex;
      flex-direction: row;
    }
     
   .subscribe h1{
    margin-left: 38%;
  }
  .sub_text fieldset{
    margin-left: 30%;
    padding: 8%;
    margin-bottom: 4%;
  }
  .sub_text h4{
    padding: 2%;
  }
}
@media (min-width: 1200px) {
  .field{
    margin-left: 17rem;
  }
  .field{
    display: flex;
    flex-direction: row;
  }
  .sub_text fieldset input{
    height: 45px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 4px;
  }
  .sub_text fieldset button{
    padding: 5px 30px 5px 30px;
    font-size: 20px;
    height: 45px;
  }   
  .subscribe h1{
    margin-left: 42%;
  }
  .sub_text h4{
    padding: 2%;
  }
  .sub_text fieldset{
    margin-left: 32%;
    padding: 10%;
    margin-bottom: 4%;
  }
}
.heading{
  color: '#008dc8';
  font-weight: bold;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0px;
  text-align: center;
}
.sub_text h4{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0px;
  text-align: center;
}
.sub_text fieldset{
    padding: 2rem;  
}
.sub_text fieldset button{
  float: right;
  margin-right: 10%;
  color: #fff;
  text-align: center;
  background-color: #008dc8;
  border: none;
}
 
 