.ColumnCard {
    max-width: 80%;
}

.ColumnPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 20%;
    padding-top: 20px;
}

.Card {
    width: 100%;
    margin-top: 3rem;
    border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0px 12px 12px -10px #ccc;
    transition: all 0.6s;
    background-color: #FBFCFC ; 
    
}
.Card:hover {
    z-index: 99;
    box-shadow: 2px 2px 30px #b9b9b9;
    transform: scale(1.05);
    transition: all 1s;
}

.CardTitle {
    text-align: left;
}

a:hover {
    text-decoration: none;
}

.headingContainer {
    align-items: center;
}

.CardImage {
    margin-left: 20px;
    border-radius: 50%;
    margin-top: 2rem;
    text-align: start;
    height: 80px;
    width: 80px;
    padding-bottom: 0px;
    box-shadow: 0px 12px 12px -10px lightgray;
}

.Rectangle {
    width: 155px;
    height: 3px;
    margin-bottom: 20px;
    background-color: #008dc8;
}

.HeadingRow {
    flex-wrap: nowrap;
    align-items: center;
}

.Title {
    display: inline-block;
    margin-top: 2rem;
    color: #008dc8;
    margin-left: 10px;
    font-size: 1.5em;
    word-wrap: break-word;
    word-break: normal;
    overflow-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphen: none;
    -moz-hyphen: none;
}

.titleContainer {
    align-items: flex-start;
}

.Subtitle {
    font-size: 1.1em;
    margin-left: 5px;
    color: gray;
}

.Description {
    margin-top: 15px;
    margin-bottom: 35px;
    color: #4c5052;
    hyphens: none;
    line-break: auto;
}

.Heading {
    color: #008dc8;
    margin-top: 5px;
    margin-left: 0px;
    font-size: 1.1rem;
}

.Value {
    margin-top: 5px;
    margin-left: 5px;
    color: black;
    font-size: 1.1rem;
}

.Button {
    position: relative;
    margin-top: 20px;
    padding: 5px 30px 5px 30px;
    color: #fff;
    font-size: 1em;
    text-align: center;
    background-color: #008dc8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.5s;
}

.Button:hover {
    text-decoration: none;
    background: #55b1eb;
    background-image: -webkit-linear-gradient(top, #55b1eb, #2389c4);
    background-image: -moz-linear-gradient(top, #55b1eb, #2389c4);
    background-image: -ms-linear-gradient(top, #55b1eb, #2389c4);
    background-image: -o-linear-gradient(top, #55b1eb, #2389c4);
    background-image: linear-gradient(to bottom, #55b1eb, #2389c4);
}


/* make outline none when button gets clicked */

.Button:focus {
    outline: none;
}

.Button1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    float: right;
    font-size: 1.1em;
    padding: 5px 35px;
    border: 1px solid #008cd8;
    text-align: center;
    border-radius: 5px;
    color: #008cd8;
    cursor: pointer;
}

.Button1:hover {
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #008cd8;
}


/* make outline none when button gets clicked */

.Button1:focus {
    outline: none;
}

.BannerImage {
    width: 7rem;
    height: 15rem;
    margin-top: 100px;
    margin-left: 200px;
}

.BannerText {
    background-color: #e2f3fb;
    margin-top: 4.5rem;
    height: 10rem;
    box-shadow: 0 8px 6px -4px #c7c7c7;
}

.cardText {
    font-weight: bold;
    font-size: 2.7em;
    color: #0084ba;
    margin-top: 25px;
}

.fallbackText {
    text-align: center;
    margin-top: 220px;
    margin-bottom: 200px;
}

.opportunityBody {
    background-color: white;
    padding-top: 3rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.Dropdown {
    width: auto;
    min-width: 200px;
    color: #fff;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    margin-top: 0;
}

.Dropdown a {
    border: none;
    color: #7a7a7a;
    text-decoration: none;
}

.Dropdown a::after {
    margin-left: 2em;
}

.btn {
    width: auto;
    min-width: 200px;
    color: #fff;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -40px;
    margin-left: 940px;
    
}
.atag{
    color: #7a7a7a;
    text-decoration: none;
    border: none;
    text-align: center;
}
.btn:hover{
    background-color: #f0f0f0;
    color: #7a7a7a;
}
.atag:hover{
    
    color: #7a7a7a;
}