.Jumbotron {
  justify-content: center;
  padding: 6.5rem 2.5rem;
  background-color: white;
}

.Container {
  width: 100%;
  margin-top: 8% auto auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

@media (max-width: 993px) {
  .Container {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 760px) {
  .Container {
    max-width: 100%;
    height: auto;
    margin-top: 12%;
  }
}

@media (max-width: 993px) {
  .NotFoundImage {
    max-width: 90%;
    height: auto;
  }
}

@media (max-width: 760px) {
  .NotFoundImage {
    max-width: 90%;
    height: auto;
  }
}

.ImgColumn {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.NotFoundMessage {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: lighter;
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  line-height: 160%;
  text-align: center;
}

@media (max-width: 993px) {
  .NotFoundMessage {
    max-width: 100%;
    font-size: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 760px) {
  .NotFoundMessage {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-align: center;
  }
}

.NotFoundButtonDiv {
  margin-top: 2.5rem;
}

.NotFoundButtonLink {
  position: relative;
  padding: 5px 30px 5px 30px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

.NotFoundButtonLink:hover {
  color: #fff;
  text-decoration: none;
  background: #55b1eb;
  background-image: -webkit-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -moz-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -ms-linear-gradient(top, #55b1eb, #2389c4);
  background-image: -o-linear-gradient(top, #55b1eb, #2389c4);
  background-image: linear-gradient(to bottom, #55b1eb, #2389c4);
}

.NotFoundButtonLink:focus {
  outline: none;
}
