@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.CardTitle {
  color: black;
  font-size: 33px;
  text-align: left;
}

a:hover {
  text-decoration: none;
}

.CardImage {
  width: 200px;
  height: 200px;
  padding: 20px;
  padding-bottom: 0px;
}

.form_group {
  margin: 20px 0;
  padding: 0 20px;
}
.form_header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  width: auto;
  margin-left: 20px;
  line-height: 55px;
  border-bottom: #008dc8 solid 5px;
  color: #000000;
}

.label {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  line-height: 16px;
  /* or 89% */

  letter-spacing: 0.15px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* Charcoal */

  color: #384248;
}
.Input {
  border-top-width: 0in;
  border-right-width: 0in;
  border-left-width: 0in;
}

.RectangleEligibility {
  width: 105px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.RectangleBasicDetails {
  width: 300px;
  height: 3px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.RectangleJobDescription {
  width: 195px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.RectangleRounds {
  width: 95px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.Button {
  padding: 5px 30px;
  font-size: 17px;
  position: relative;
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  color: #fff;
  text-align: center;
  background-color: #008dc8;
  border: none;
  box-shadow: 0 10px 20px -8px rgb(0 0 0 / 70%);
  transition: all .5s;
}

/* make outline none when button gets clicked */
.Button:focus {
  outline: none;
}

.FullTimeComponent {
  width: 100%;
  padding: 10px;
  margin: 80px 0 0 0;
  background: #e2f3fb;
}

/* @media only screen and (max-width: 1113px) {
  .FullTimeComponent {
    width: 60%;
    margin: 120px auto 20px;
    padding-left: 3%;
  } */
/* } */

/* @media only screen and (max-width: 1000px) {
  .FullTimeComponent {
    width: 65%;
    margin: 120px auto 20px;
    padding-left: 2%;
  }
}

@media only screen and (max-width: 801px) {
  .FullTimeComponent {
    width: 70%;
    margin: 120px auto 20px;
    padding-left: 0;
  }
}

@media only screen and (max-width: 650px) {
  .FullTimeComponent {
    width: 75%;
    margin: 120px auto 20px;
    padding-right: 40px;
  }
} */

@media only screen and (max-width: 578px) {
  .switch {
    margin: 20px 0;
  }
}
