.CardTitle {
  color: black;
  font-size: 33px;
  text-align: left;
}

a:hover {
  text-decoration: none;
}

.CardImage {
  width: 200px;
  height: 200px;
  padding: 20px;
  padding-bottom: 0px;
}

.Input {
  border-top-width: 0in;
  border-right-width: 0in;
  border-left-width: 0in;
}

.RectangleEligibility {
  width: 105px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.RectangleBasicDetails {
  width: 240px;
  height: 3px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.RectangleJobDescription {
  width: 195px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.RectangleRounds {
  width: 95px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #008dc8;
}

.Button {
  position: relative;
  float: right;
  margin-top: 5px;
  padding: 5px 20px 5px 20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 0.5s;
}

/* make outline none when button gets clicked */
.Button:focus {
  outline: none;
}
