.scrollTopButton {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 99;
  width: 45px;
  height: 45px;
  font-size: 18px;
  background-color: #008dc8;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
}

.scrollTopButton:hover {
  background-color: #55b1eb;
  outline: none;
}

.upArrow {
  display: inline-block;
  padding: 3px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
